.round, .image>* {
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.editable {
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
}

svg {
    width: 20px;
    height: 20px;
}

button.end {
    padding: .8rem 1rem .8rem 0;
}

:root{
    --display: none;
}

.image {
    display: grid;
    overflow: hidden;
    justify-items: center;
}

.image>.hidden {
    visibility: hidden;
}

.image>* {
    grid-area: 1/1;
}

.image:hover {
    --display: flex;   
}

.image>.edit {
    display: var(--display);
    justify-content: center;
    align-items: center;
}

.image>.edit>svg, .image>button svg{
    height: 30px;
    width: 30px;
}

.image>button {
    grid-area: 2/1;
    display: none;
    width: min-content;
    height: min-content;
    padding: .2rem;
}

.image>button.show {
    display: block;
}