.round {
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.editable {
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
}

svg {
    width: 20px;
    height: 20px;
}

button.end {
    padding: .8rem 1rem .8rem 0;
}