.painel {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    overflow: scroll;
    gap: 1.2rem
}
.dashboard {
    --column-count: 12;
    display: grid;
    grid-template-columns: repeat(var(--column-count) , 1fr);
    gap: .5rem;
    align-content: start;
}

.dashboard > * {
    grid-column-end: span 3;
}

.dashboard > .half {
    grid-column-end: span calc(var(--column-count) / 2);
}

.dashboard > .full {
    grid-column-end: span var(--column-count);
}