.container, .body {
    position: relative;
    height: 100%;
}

.container {
    grid-template-rows: min-content auto min-content;
}

.body {
    overflow: hidden;
    overflow-y: auto;
}

.chat {
    min-height: 100%;
    position: absolute;
    align-content: end;
    gap: .2rem
}

.chat>div {
    padding: .5rem;
    background-color: #EDEDED;
}

.footer {
    align-items: center;
}

.footer .msg-creator {
    background-color: #F5F5F5;
    border-radius: 1rem;
    padding: 1rem .5rem;
    position: relative;
    cursor: text;
}

.footer .placeholder {
    position: absolute;
    height: min-content;
    width: max-content;
    top: 1rem;
    left: .5rem;
    z-index: 0;
    color: #8c8c8c;
    transition: all .2s;
}

.footer .placeholder.hidde {
    transform: translate(50%);
    opacity: 0;
    z-index: -1;
}

.footer button.icon {
    background: none;
    color: black;
}

.footer button.icon>i>svg {
    width: 22px;
    height: 22px;
}